---
spring:
  config.activate.on-profile: default
cds:
  datasource:
    auto-config.enabled: false
  security:
    mock:
      users:
        - name: tester
          password: ProvidedTesterCheck123!
          additional:
            firstName: Main
            lastName: Tester
            email: Klaus.Sussard@mail.com
          roles:
            - DatabaseOperator
            - ClearOperator